/*Gerais*/

body{
    font-family: 'Roboto', 'sans-serif';
    /*background-image: url('../_img/school.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: 100%;
    background-color: rgba(64,224,208, 0.2) ;  */
}

.row{
    margin: 0;
}

.container{
    padding: 0px 0;
    
}

p, li{
    color: white;
    font-size: 14px;
}

/*Barra de navegação*/
header, footer {
    background-color: turquoise;
}

header, .navbar{


}

footer{
    margin-bottom: 0px;

}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
    color: black;
}

#logo{
    width: 0px;
    padding: -10px;
}

.navbar-brand{
    padding: 0;
    color: turquoise;
}

.navbar-brand:hover{
    
}

.main-btn{
    color: turquoise;
}

a:hover{
    color: brown;
}

#navbar-links a{
    color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem, .8rem ;
}

h2{
    font-weight: bolder;
}

#about-area{
    background-color: #f9f9f9;
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

#login{
    width: 35px;
    position: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 30px rgb(red, rgb(159, 163, 159), blue);
}

.footer{
    margin-bottom: -100px;
    padding: 30px;
    background-color: turquoise;
    position: absolute;
    width: 100%;
    bottom: 0%;
}

